<!--The content below is only a placeholder and can be replaced.-->
<header> MY APP
  
  <div class="container">
    <nav>
      <img width="50" alt="Profile Logo" src="assets/img/pro1.png">
    </nav>
  </div>
</header>

<body>
  
  <div class="side-bar">
    
    <ul class="list-group">
      
      <li><a href="#" routerLink="home"  routerLinkActive="selected" class="list-item"><i class="fa fa-home"></i>Home</a></li>
      <li><a href="#" routerLink="profile" routerLinkActive="selected" class="list-item"><i class="fa fa-user"></i>Profile</a></li>
      <li><a href="#" routerLink="images" routerLinkActive="selected" class="list-item"><i class="fa fa-image"></i>Images</a></li>
      
    </ul>
    
  </div>
  <div id="content"></div>
</body>

<div class="side-bar">
<router-outlet></router-outlet>
</div>